In [1]:
import pandas as pd
import numpy as np

# Extract data

In [3]:
data=pd.read_csv('sorted_coded_data.csv')

In [16]:
#data = pd.read_csv('sorted_coded_data.csv',index_col='user_id')

In [4]:
data

,user_id,package_name,start_time,end_time,time_spend,app_code
0,3731,com.google.android.apps.maps,0,1,1,23906
1,2519,com.jb.zcamera,0,1,1,28268
2,5520,com.sonymobile.hostapp.everest,0,1,1,45337
3,5641,com.google.android.googlequicksearchbox,0,1,1,23949
4,1672,com.badoo.mobile,0,1,1,10689
...,...,...,...,...,...,...
254450417,249,com.whatsapp,78886719,78886725,6,53003
254450418,9847,com.google.android.googlequicksearchbox,78887767,78887817,50,23949
254450419,9847,com.facebook.katana,78887817,78887894,77,19968
254450420,9847,com.google.android.googlequicksearchbox,78889670,78889680,10,23949
254450421,9847,com.stac.aok,78889680,78889980,300,46076

# Implementation

## Inputs:
r: number of patterns of length s-1\
n: number of frequent apps (accross users)\
sigma: min. support/thresshold \
allPreviousPatterns: an array with the patterns of length (s-1)\
tempPattern: s × (s − 1)-matrix to store (s − 1)-subpatterns of a temporary pattern which are beign tested.\
indexOfPreviousPatterns: array of length s, storing the position of (s − 1)-subpatterns\
binPrevious: an array with all binary vectors found on the previous step\
binTemp: temporary array to store binary vectors\
***Added input***\
S: length of candidate patterns we are looking for.


## Outputs:
q: number of candidate patterns found\
binCandidate: array with all new binary vectors found\
candPattern: array with candidate patterns found\

Right now it is asummed that patterns are stored so that one row corresponds to one pattern, and each column contain one element of a pattern, however would it be more meningful to just have one column and store as a string?

In [10]:
def get_candicat_list(r:int, n:int,sigma,allPreviousPatterns,tempPattern,indexOfPreviousPatterns,binPrevious,S:int):
    q=0 #initalizing counter for patterns.
    candPattern=np.array([])
    binCandidate=np.array([])
    
    #itterate through previouse patterns
    for i in range(0,r):
        #copy i-th (s − 1)-array from allPreviousPatterns to the last row of tempPattern
        tempPattern[-1,:]=allPreviousPatterns[i,:]
        #storing the subpatterns in the inside temppattern
        for k in range(0,S-1):
            tempPattern[k,0:k]=tempPattern[-1,0:k]
            tempPattern[k,k:-1]=tempPattern[-1,k:]
            
            #itterate frequent apps
            for j in range(0,n):
                tempPattern[:-1,-1]==j
                #itterate through the patterns 
                for m in range(0,S):
                    indexOfPreviousPatterns[m]=np.where((allPreviousPatterns==tempPattern[m,:]).all(axis=1))
                    if indexOfPreviousPatterns[m]==0:
                        break
                binTepm=binPrevious[indexOfPreviousPatterns[1]]
                for m in range(1,S):
                    binTemp = binTemp&binPrevious[indexOfPreviousPatterns[m]]
                    nb = np.count_nonzero(binTemp);
                    if nb<sigma:
                        break
            #we have found a new candidate pattern
            q+=1
            candPattern=np.vstack((candPatterncandPattern,tempPattern))
            binCandidate=np.vstack((binCandidate,binTemp))
            
        return q,candPattern,binCandidate

# Testing

The initialization finds patterns of length 1, so frequent apps.

In [93]:
s=2
sigma=0.1
tempPattern=np.zeros([s,s-1])
indexOfPreviousPatterns=np.zeros([s,1])
binTemp=np.array([])

r: number of patterns of length s-1\
n: number of frequent apps (accross users)\
allPreviousPatterns: an array with the patterns of length (s-1)\

tempPattern: s × (s − 1)-matrix to store (s − 1)-subpatterns of a temporary pattern which are beign tested.\
indexOfPreviousPatterns: array of length s, storing the position of (s − 1)-subpatterns\
binPrevious: an array with all binary vectors found on the previous step\

binTemp: temporary array to store binary vectors\

***Added input***\
S: length of candidate patterns we are looking for.

In [97]:
r=0
n=0
#allPreviousPatterns=np.array([])
allPreviousPatterns=pd.DataFrame()
binPrevious=pd.DataFrame()
n_events=data['app_code'].max()+1
n_users=data['user_id'].max()+1

app_groups=data2.groupby('app_code')
support_of_apps=app_groups.user_id.nunique()
user_groups=data2.groupby('user_id')

In [119]:
for i in range(19968,19968+1):#n_events+1):
    user_of_app=user_groups['app_code'].apply(lambda l: l in i )
    #if support_of_apps[i]/n_events>=sigma:
    if user_of_app.sum()/n_users>=sigma:       
        #allPreviousPatterns=allPreviousPatterns.vstack([i])
        allPreviousPatterns=allPreviousPatterns.append(i)
        r+=1
        n+=1
        #creating the binary vector, where one in a certial row indicate that
        #the user with user_id equal to that row number support a given pattern.
        binPrevious[i]=user_of_app

In [122]:
user_groups['app_code'].apply(lambda l: 19968 in l )

user_id
0       False
1        True
2       False
3       False
4       False
        ...
9995    False
9996    False
9997    False
9998    False
9999    False
Name: app_code, Length: 10000, dtype: bool

In [120]:
allPreviousPatterns

Empty DataFrame
Columns: []
Index: []

In [121]:
binPrevious

Empty DataFrame
Columns: []
Index: []

In [129]:
data[data['user_id']==0]

,user_id,package_name,start_time,end_time,time_spend,app_code
9117,0,com.facebook.katana,0,441,441,19968
23249,0,com.android.chrome,441,1012,571,7649
32510,0,com.google.android.apps.photos,1012,1032,20,23916
32945,0,com.facebook.katana,1042,1502,460,19968
39330,0,com.whatsapp,1512,1572,60,53003
...,...,...,...,...,...,...
145306628,0,com.jb.zcamera,20208141,20208151,10,28268
145306769,0,com.android.chrome,20208161,20208512,351,7649
145308929,0,com.facebook.katana,20208512,20208772,260,19968
145310430,0,com.google.android.apps.translate,20208772,20208782,10,23926
145310500,0,com.instagram.android,20208782,20208982,200,27441

In [71]:
test2= pd.DataFrame()

In [132]:
test['app_code'].apply(lambda l: 19968 in l ).sum()

MemoryError: Unable to allocate 1.90 GiB for an array with shape (254450422,) and data type int64

In [ ]:
test2[test2[5]==1]

In [118]:
data[data.package_name=='com.facebook.katana']

,user_id,package_name,start_time,end_time,time_spend,app_code
31,7667,com.facebook.katana,0,1,1,19968
40,3643,com.facebook.katana,0,2,2,19968
52,1530,com.facebook.katana,0,2,2,19968
57,4261,com.facebook.katana,0,2,2,19968
65,6919,com.facebook.katana,0,2,2,19968
...,...,...,...,...,...,...
254450397,2915,com.facebook.katana,78886063,78886173,110,19968
254450403,4702,com.facebook.katana,78886244,78886254,10,19968
254450405,1922,com.facebook.katana,78886274,78886302,28,19968
254450415,5008,com.facebook.katana,78886588,78886598,10,19968
254450419,9847,com.facebook.katana,78887817,78887894,77,19968

In [67]:
#test=data2.groupby('user_id')
test['app_code'].apply(lambda l: 0 in l )

user_id
0       False
1       False
2       False
3       False
4       False
        ...
9995    False
9996    False
9997    False
9998    False
9999    False
Name: package_name, Length: 10000, dtype: bool

In [59]:
np.append(binPrevious, test['package_name'].apply(lambda l: 'com.facebook.katana' in l ), axis=1)

ValueError: all the input arrays must have same number of dimensions, but the array at index 0 has 2 dimension(s) and the array at index 1 has 1 dimension(s)

In [66]:
binPrevious.shape

(10000, 1)

In [22]:
data

,user_id,package_name,start_time,end_time,time_spend,app_code
0,3731,com.google.android.apps.maps,0,1,1,23906
1,2519,com.jb.zcamera,0,1,1,28268
2,5520,com.sonymobile.hostapp.everest,0,1,1,45337
3,5641,com.google.android.googlequicksearchbox,0,1,1,23949
4,1672,com.badoo.mobile,0,1,1,10689
...,...,...,...,...,...,...
254450417,249,com.whatsapp,78886719,78886725,6,53003
254450418,9847,com.google.android.googlequicksearchbox,78887767,78887817,50,23949
254450419,9847,com.facebook.katana,78887817,78887894,77,19968
254450420,9847,com.google.android.googlequicksearchbox,78889670,78889680,10,23949
254450421,9847,com.stac.aok,78889680,78889980,300,46076

In [35]:
data2=data.sort_values(['user_id','start_time']).reset_index()

In [36]:
data2=data2.drop('index',1)

<ipython-input-36-7de845ccbfcb>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  data2=data2.drop('index',1)

In [37]:
data2

,user_id,package_name,start_time,end_time,time_spend,app_code
0,0,com.facebook.katana,0,441,441,19968
1,0,com.android.chrome,441,1012,571,7649
2,0,com.google.android.apps.photos,1012,1032,20,23916
3,0,com.facebook.katana,1042,1502,460,19968
4,0,com.whatsapp,1512,1572,60,53003
...,...,...,...,...,...,...
254450417,9999,com.google.android.googlequicksearchbox,29207214,29207244,30,23949
254450418,9999,com.android.chrome,29207244,29207284,40,7649
254450419,9999,com.google.android.apps.docs,29207284,29207294,10,23875
254450420,9999,com.microsoft.office.outlook,29213184,29213213,29,33357
254450421,9999,com.google.android.googlequicksearchbox,29218277,29218307,30,23949

In [38]:
test=data2.groupby('user_id')
test['package_name'].apply(lambda l: 'com.facebook.katana' in l )[0]==0

In [43]:
test['package_name'].apply(lambda l: 'com.facebook.katana' in l )[0]==0

True