In [27]:
from spmf import Spmf
import numpy as np
import pandas as pd
import os

In [14]:
data = pd.read_csv('csvds.csv')

In [15]:
data.head(5)

,Unnamed: 0,package_name,user_id,start_time,end_time,time_spend
0,0,com.instagram.android,3401,16628668,16628669,1
1,1,com.google.android.apps.maps,2365,360890,361391,501
2,2,com.facebook.katana,4347,2589058,2589078,20
3,3,com.sonyericsson.conversations,9,18193453,18193534,81
4,4,com.google.android.apps.genie.geniewidget,4652,1542813,1542933,120

In [19]:
data1 = data.drop(columns=['Unnamed: 0']).sort_values(by=['user_id','start_time'])

In [28]:
data1['package_name']=data1['package_name'].astype('category')

In [29]:
data1['app_code']=data1['package_name'].cat.codes

In [32]:
data1.to_csv('sorted_coded_data.csv',index=True)

# Dividing data into groups wrt. user_id and make it as input

In [32]:
#data = pd.read_csv('sorted_coded_data.csv')

In [11]:
data = data.drop(columns=['Unnamed: 0'])

In [23]:
data1 = data[data['user_id']<=4]

In [24]:
group_user=data1.groupby(['user_id'])

In [30]:
data1

,package_name,user_id,start_time,end_time,time_spend,app_code
0,com.facebook.katana,0,0,441,441,19968
1,com.android.chrome,0,441,1012,571,7649
2,com.google.android.apps.photos,0,1012,1032,20,23916
3,com.facebook.katana,0,1042,1502,460,19968
4,com.whatsapp,0,1512,1572,60,53003
...,...,...,...,...,...,...
74144,com.accuweather.paid.android,4,17488859,17488869,10,6318
74145,com.sonyericsson.conversations,4,17488869,17488874,5,45264
74146,com.imdb.mobile,4,17490032,17490063,31,26906
74147,com.sonyericsson.conversations,4,17490497,17490517,20,45264
74148,com.sonyericsson.conversations,4,17496095,17496115,20,45264

In [26]:
input1 = group_user['app_code'].apply(list).apply(lambda l: ','.join([str(i) for i in l]))

In [31]:
f = open(os.path.join(os.getcwd(), 'test.txt'), 'w')
dfAsString = input1.to_string(header=False, index=False)
f.write(dfAsString)
f.close()

# Testing with the package

In [4]:
# A test using there package 

spmf = Spmf("PrefixSpan", input_filename="/home/s165317/motifs_and_competition_in_app_usage/test_files/contextPrefixSpan.txt",
            output_filename="/home/s165317/motifs_and_competition_in_app_usage/test_files/output.txt",
            spmf_bin_location_dir="/home/s165317/motifs_and_competition_in_app_usage/",
            arguments=[0.7, 5])
spmf.run()
print(spmf.to_pandas_dataframe(pickle=True))
spmf.to_csv("output.csv")

>/home/s165317/motifs_and_competition_in_app_usage/spmf.jar
=============  PREFIXSPAN 0.99-2016 - STATISTICS =============
 Total time ~ 30 ms
 Frequent sequences count : 14
 Max memory (mb) : 61.50012969970703
 minsup = 3 sequences.
 Pattern count : 14
===================================================


      pattern  sup
0         [1]    4
1      [1, 2]    4
2      [1, 3]    4
3   [1, 3, 2]    3
4   [1, 3, 3]    3
5         [2]    4
6      [2, 3]    3
7         [3]    4
8      [3, 2]    3
9      [3, 3]    3
10        [4]    3
11     [4, 3]    3
12        [5]    3
13        [6]    3