In [18]:
from spmf import Spmf
import numpy as np
import pandas as pd

In [14]:
data = pd.read_csv('csvds.csv')

In [15]:
data.head(5)

,Unnamed: 0,package_name,user_id,start_time,end_time,time_spend
0,0,com.instagram.android,3401,16628668,16628669,1
1,1,com.google.android.apps.maps,2365,360890,361391,501
2,2,com.facebook.katana,4347,2589058,2589078,20
3,3,com.sonyericsson.conversations,9,18193453,18193534,81
4,4,com.google.android.apps.genie.geniewidget,4652,1542813,1542933,120

In [19]:
data1 = data.drop(columns=['Unnamed: 0']).sort_values(by=['user_id','start_time'])

In [28]:
data1['package_name']=data1['package_name'].astype('category')

In [29]:
data1['app_code']=data1['package_name'].cat.codes

In [32]:
data1.to_csv('sorted_coded_data.csv',index=True)

# Dividing data into groups wrt. user_id

In [30]:
group_user=data1.groupby(['user_id'])

In [31]:
group_user.get_group(0)

,package_name,user_id,start_time,end_time,time_spend,app_code
11410956,com.facebook.katana,0,0,441,441,19968
185882440,com.android.chrome,0,441,1012,571,7649
52090141,com.google.android.apps.photos,0,1012,1032,20,23916
252320289,com.facebook.katana,0,1042,1502,460,19968
129853894,com.whatsapp,0,1512,1572,60,53003
...,...,...,...,...,...,...
189077333,com.jb.zcamera,0,20208141,20208151,10,28268
16966854,com.android.chrome,0,20208161,20208512,351,7649
11408717,com.facebook.katana,0,20208512,20208772,260,19968
236633220,com.google.android.apps.translate,0,20208772,20208782,10,23926
9807266,com.instagram.android,0,20208782,20208982,200,27441

# a function to get ideal dataset
`user          app_code
  1      0, 2345, 3,  4, 5,   \n
  2       3, 423,105,  7,9,    \n`

In [33]:
print(np.array(group_user.get_group(0)['app_code']).reshape(-1,1))

[[19968]
 [ 7649]
 [23916]
 ...
 [19968]
 [23926]
 [27441]]

In [4]:
# A test using there package 

spmf = Spmf("PrefixSpan", input_filename="/home/s165317/motifs_and_competition_in_app_usage/test_files/contextPrefixSpan.txt",
            output_filename="/home/s165317/motifs_and_competition_in_app_usage/test_files/output.txt",
            spmf_bin_location_dir="/home/s165317/motifs_and_competition_in_app_usage/",
            arguments=[0.7, 5])
spmf.run()
print(spmf.to_pandas_dataframe(pickle=True))
spmf.to_csv("output.csv")

>/home/s165317/motifs_and_competition_in_app_usage/spmf.jar
=============  PREFIXSPAN 0.99-2016 - STATISTICS =============
 Total time ~ 30 ms
 Frequent sequences count : 14
 Max memory (mb) : 61.50012969970703
 minsup = 3 sequences.
 Pattern count : 14
===================================================


      pattern  sup
0         [1]    4
1      [1, 2]    4
2      [1, 3]    4
3   [1, 3, 2]    3
4   [1, 3, 3]    3
5         [2]    4
6      [2, 3]    3
7         [3]    4
8      [3, 2]    3
9      [3, 3]    3
10        [4]    3
11     [4, 3]    3
12        [5]    3
13        [6]    3